{
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react", "react-hooks"],
  "root": true,
  "rules": {
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "allowSeparatedGroups": true
      }
    ]
  },
  "settings": {
    "react": {
      "version": "18"
    }
  }
}
